@import '../variables';

.content__container {
  display: flex;
  flex-direction: column;
}

.content__main {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.content__header {
  border-bottom: 1px solid $theme_dark_color;
}

.content__footer {
  justify-self: flex-end;
  border-top: 1px solid $theme_dark_color;
}

.search__search-container {
  border-right: 1px solid $theme_dark_color;

  flex: 0 0 15rem;
}

.search__search-results {
  flex: 0 1 100%;

}

.deck__container {
  border-left: 1px solid $theme_dark_color;
  flex: 0 0 15rem;
}
