<form #form="ngForm" novalidate (ngSubmit)="noOp(form)" class="search__form">
  <h2>Search cards</h2>

  <fieldset>
    <div>
      <input type="radio" value="findByName" name="findBy" id="findByName"
             [ngModel]="findBy"
             (change)="findByChanged.next($event)">
      <label for="findByName">Find by name</label>
    </div>
    <div class="search__find-input-container">
      <label for="byName">Name</label>
      <input type="text" name="byName" id="byName"
             [disabled]="findBy !== 'findByName'"
             (keyup)='byNameKeyUp.next($event)'>
    </div>
  </fieldset>

  <fieldset>
    <div>
      <input type="radio" value="findByOther" name="findBy" id="findByOther"
             [ngModel]="findBy"
             (change)="findByChanged.next($event)">
      <label for="findByOther">Find by attribute</label>
    </div>

    <fieldset [disabled]="findBy !== 'findByOther'" class="search__find-input-container">
      <div class="search__find-inputs-attribute-name">Type</div>

      <ol *ngIf="cardType$ | async; else loading; let cardTypes" class="search__types-list">
        <li *ngFor="let cardTypeName of cardTypes">
          <input type="checkbox" name="{{cardTypeName}}" id="{{cardTypeName}}"
                 [checked]="cardTypes[cardTypeName]"
                 (change)="cardTypesChanged.next(cardTypeName)"/>
          <label [attr.for]="cardTypeName">{{cardTypeName}}</label>
        </li>
      </ol>

      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>

      <div class="search__find-inputs-attribute-name">Mana Cost</div>
      <div class="search__find-inputs-nested">
        <label for="manaCost">Mana Cost</label>
        <input type="number" name="manaCost" id="manaCost" class="search__number-input"
               min="0" max="20" pattern="0-9"
               [ngModel]="manaCost"
               (change)="manaCostChanged.next($event)">
      </div>
    </fieldset>

  </fieldset>
</form>
