.search__form {

}

.search__find-input-container {
  padding: 0.5rem 0 0 2rem;
}

.search__find-inputs-attribute-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.search__types-list {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.search__number-input {
  text-align: right;
}

.search__find-inputs-nested {
  padding-left: 0.5rem;
}
